@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
header { 
    background-image: url('./assets/images/strange-paint.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
}

#blog-title{
    padding: 10px;
    font-family: 'Merriweather', serif;    
    font-weight: 800;
    font-size: 50px;
    padding: 20px 20px 10px;
}

#sub-title {
    padding: 0 20px;
    line-height: 30px;
}

.nav-link{
    color: white;
    margin: 0 0 0 5px;
}

.nav-link:hover {
    color: darkorchid;
}

.content {
    padding: 20px;
}

#icons {
    display: flex;
    justify-content: space-evenly;
}

#icons img{
    width: 50px;
    height: 50px;
}

@media only screen and (min-width: 768px) {
header { 
    padding: 20px 40px 0;
}

#blog-title{
    padding: 10px;
    font-family: 'Merriweather', serif;    
    font-weight: 800;
    font-size: 55px;
}
#sub-title {
    padding: 0 10px 10px;
    line-height: 5px;
}

.content {
    max-width: 700px;
    margin: 20px 50px;
}
#icons {
    margin: 10px;
    justify-content: flex-end;
}
}